{% extends "base.html" %}

{% block title %}
    О вас
{% endblock %}

{% block body %}
    <h1>О вас {{ user.login }}</h1>
    <div class="alert alert-info" role="alert">
        <img src="data:image/png;base64, {{ user_avatar }}">
        {% for key, value in about_user.items() %}
            <ul><li><font size="5">{{ key }}: </font>{{ value }}</li></ul>
        {% endfor %}
        <a href="/edit_user" class="btn btn-warning">Изменить данные</a>
        <h4>Сменить аватар</h4>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {{ form.image(class="btn btn-info") }}
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
{% endblock %}