{% extends "base.html" %}

{%block title%}
    Главная
{%endblock%}
{%block body%}
<div class="alert alert-info" role="alert">
    <h1>Добро пожаловать</h1>
    <h2>Вы можете создать новую заметку</h2>
</div>
<div class="container">
        <h5>О разработчике</h5>
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://vk.com/gonshik.nelegalniy" class="nav-link px-2 text-muted">Мой вк</a></li>
          <li class="nav-item"><a href="https://github.com/coder6497" class="nav-link px-2 text-muted">Мой Github</a></li>
        </ul>
        <p class="text-center text-muted">coder 6497 INC</p>
      </footer>
</div>
{%endblock%}