{% extends "base.html" %}

{%block title%}
    Новая заметка
{%endblock%}

{%block body%}
<link rel="stylesheet" href="{{url_for('static', filename='new_form_style.css')}}">
    <h1 class="title_page">Новая заметка</h1>
    <form method="post" action="">
        {{ form.csrf_token() }}
        {{ form.title.label() }}
        {{ form.title(class="form-control") }}
        <br>
        {{ form.text.label() }}
        <br>
        {{ form.text(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-info") }}
    </form>
{%endblock%}