{% extends "base.html" %}

{% block title %}
    Форма
{% endblock %}

{% block body %}
<h1>Ваши изображения</h1>
<form method="post" action="" enctype="multipart/form-data">
    {{ image_form.csrf_token() }}
    {{ image_form.image(class="btn btn-warning") }}
    {{ image_form.submit(class="btn btn-info") }}
</form>
{% for imgs in user_images %}
    <img src="data:image/png;base64, {{ imgs.minimal }}">
    <a type="submit" name="delete" href="/delete_image/{{ imgs.id }}" class="btn btn-danger">Удалить</a>
    <a type="submit" name="delete" href="/detalied_image/{{ imgs.id }}" class="btn btn-info">Подробнее</a>
{% endfor %}
{% endblock %}